.allChatShow {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 75%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1000;
  border: 1px solid rgb(64, 90, 240);
}

.green-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: green;
  margin-left: 30px;
  margin-top: 12px;
}

.allChat {
  display: flex;
  position: absolute;
  top: 95%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 215px;
  height: 20px;
  padding: 16px;
  padding-top: 10px;
  background-color: rgb(64, 90, 240);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1000;
  border: 1px solid rgb(64, 90, 240);
}

.allChat > p {
  color: white;
  padding-top: 4px;
  padding-left: 10px;
  font-weight: 400;
}

.image {
  height: 30px;
  border-radius: 50%;
}

.allChat-header {
  display: flex;
  background-color: rgb(64, 90, 240);
  padding: 16px;
  padding-top: 10px;

  height: 20px;
  border-bottom: 1px solid #ccc;
}

.allChat-header > p {
  padding-top: 4px;
  padding-left: 10px;
  color: white;
  font-weight: 400;
}

.allChat_Body {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.allChat_Body1 {
  display: flex;
  justify-content: space-between;
}

.allChat_Body1 > p {
  padding-top: 4px;
  padding-left: 10px;
}
