.container {
  height: 100vh;
  background: linear-gradient(to bottom, rgb(119, 119, 218) 50%, white 50%);
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 500px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.boxBody {
  position: absolute;
  border-radius: 0px 0px 25px 25px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  overflow-y: auto;
  height: 390px;
  background-color: white;
}

.header {
  border-radius: 25px 25px 0px 0px;
  height: 60px;
  background-color: rgb(232, 232, 232);
  padding-top: 40px;
  color: rgb(100, 83, 83);
  padding-left: 200px;
}

randomSubset
.body > p {
  font-size: 16px;
  padding-left: 15px;
  padding-top: 4px;
  text-align: center;
}

.image {
  height: 30px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 70%;
  }
  .boxBody {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    overflow-y: auto;
    background-color: white;
  }
  .header {
    border-radius: 25px 25px 0px 0px;
    height: 60px;
    background-color: rgb(232, 232, 232);
    padding-top: 40px;
    color: rgb(100, 83, 83);
    padding-left: 100px;
  }
}
